global:
  scrape_interval: 10s
  evaluation_interval: 10s
rule_files:
  - /etc/prometheus/rules/*

scrape_configs:
{% if groups['ceph']|length > 0 %}
  - job_name: 'node-exporter'
    static_configs:
      - targets:
{% for node in groups['ceph'] %}
        - {{ node }}:{{ node_exporter_port }}
{% endfor %}

  - job_name: 'process-exporter'
    static_configs:
      - targets:
{% for node in groups['ceph'] %}
        - {{ node }}:{{ process_exporter_port }}
{% endfor %}

  - job_name: 'ceph'
    static_configs:
      - targets:
{% for host in groups['ceph'] %}
{% if hostvars[groups['ceph'][0]].mgr|bool %}
        - {{ host }}:9283
{% endif %}
{% endfor %}

{% endif %}
    
{% if groups['clients']|length > 0 %}
  - job_name: 'clients'
    static_configs:
      - targets:
{% for node in groups['clients'] %}
        - {{ node }}:{{ node_exporter_port }}
{% endfor %}
{% endif %}